<h2 class="auth-title">Sign Up</h2>
<form [formGroup]="signupForm" (ngSubmit)="signIn()">
	<div class="form-container">
		<div class="form-element">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput email formControlName="email">
			</mat-form-field>
		</div>
		<div class="form-element">
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput [type]="'password'" formControlName="password">
			</mat-form-field>
		</div>
		<div class="action-box">
			<button
					mat-flat-button
					class="btn login-btn"
					type="submit"
					color="primary"
					[disabled]="!signupForm.valid">Sign Up</button>
			<button mat-button type="button" (click)="backToLogin.emit(true)">Back to Log In</button>
		</div>
	</div>
</form>
