/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    cursor: pointer;
    opacity: 1;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    transition: opacity .2s ease-out;
}
a:hover {
    opacity: .8;
}
